.cover {
    width: 100%;
    height: 100%;
    position: relative;
}

.contact-img {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
}

.cover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: black;
    opacity: 0.8;
}

.contact .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.content h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.content p {
    font-size: 2.5rem;
}

@media screen and (max-width: 1040px) {
    .contact-img {
        width: 100%;
        height: 100%;
        background-position: center;
        object-fit: cover;
        margin-bottom: 2rem;
    }
    .contact .content {
        top: 22%;
        left: 50%;
        text-align: center;
    }
    .content h1 {
        font-size: 5rem;
        margin-bottom: 2rem;
    }
    
    .content p {
        font-size: 2rem;
    }
    
}
